*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(206, 198, 198);
}
.container{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}
header{
    background-color: rgb(48, 84, 230);
}
header > a{
    text-decoration: none;
    color: rgb(240, 234, 243);
    font-size: 40px;
    font-family: serif;
    font-weight: bold;
    float: left;
    padding: 10px 10px 10px 30px;
}
.imgs{
    float: right;
    padding: 10px 10px 10px 30px;
}
header::after{
    content: " ";
    display: block;
    clear: both;
    *zoom: 1;
}
.nav-bar{
    background-color: white;
}
.nav-bar >ul{
    list-style: none;
}
.nav-bar > ul > li{
    display: inline-block;
    margin-left: 5px;
    padding: 5px 0px 5px 0px;
}
.nav-bar > ul > li:first-child{
    margin-left: 30px;
}
.nav-bar > ul > li  > a{
    text-decoration: none;
    color: rgb(250, 245, 250);
    font-size: 20px;
    display:block;
    background-color: tomato;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    border: 1px solid rgb(61, 42, 42);
}
.nav-bar > ul > li > a:hover{
    background-color: cadetblue;
}
.banner{
    min-height: 400px;
}
.banner > img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.main-container{
    background-color: rgb(199, 218, 228);
}
.col{
    width: 70%;
    text-align: center;
    min-height: 400px;
    float: left;
    padding-bottom: 30px;
}
.col > img{
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 10px;
    border-radius: 20px;
    border: 1px solid wheat;
    margin-right: 20px;
}
.col > h1{
    font-size: 35px;
    color: rgb(37, 48, 65);
    padding: 30px 0px;
}
.col > p{
    text-align: justify;
    margin:0px 10px 0px 10px;
    padding-bottom: 20px;
}
.col > a{
    text-decoration: none;
    color: rgb(252, 246, 246);
    background-color: rgb(20, 28, 43);
    font-size: 18px;
    padding: 8px;
    border-radius: 10px;
    }
    .col > a:hover{
        background-color: teal;
        color: black;
    }
.col1{
    width: 29%;
    min-height: 428px;
    float: right;
    text-align: center;
}
.main-container::after{
    content: " ";
    display: block;
    clear: both;
    *zoom: 1;
}
.col1{
    background-color: rgb(190, 158, 219);
}
.col1 > h1{
    font-size: 25px;
    color: rgb(29, 29, 27);
    padding: 5px 5px 2px 5px;
    font-family: serif;
    margin: 0px 20px 0px 20px;
    border-bottom:  3px solid gray;
    margin-bottom: 30px;
}
.col1 > a{
    text-decoration: none;
    font-size: 18px;
    display: block;
    color: rgba(163, 123, 49, 0.973);
    line-height: 20px;
    border-bottom:1px solid red;
}
.col1 > p{
    margin-top: 20px;
    line-height: 20px;
    text-align: justify;
    padding: 0px 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 30px;
}
.link > a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    background-color: rgb(196, 27, 248);
    padding: 5px 10px;
    border-radius: 15px;
}
.link > a:hover{
    background-color: black;
    color: white;
}
.customer{
    background-color: rgb(221, 203, 235);
}
.customer > h1{
    text-align: center;
    font-size: 35px;
    padding: 20px 0px 30px 0px;
}
.row{
    width: 300px;
    min-height: 450px;
    margin-left: 20px;
}
.row > h2{
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
    background-color: lightcoral;
    padding-bottom: 10px;
    color: rgb(26, 8, 77);
    border-radius: 30px;
}
.row{
    float: left;
}
.customer::after{
    content: " ";
    display: block;
    clear: both;
    *zoom: 1;
}
.row > img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin-left: 100px;
    border-radius: 50px;
    margin-top: 20px;
}
.row > p{
    text-align: justify;
    line-height: 19px;
    margin: 10px 20px;
}
footer{
    background-color: rgb(0, 0, 0);
}
footer > h3{
    color: rgb(255, 251, 251);
    font-size: 14px;
    float: left;
    padding: 30px;
}
footer > h3 > a{
    text-decoration: none;
    color: rgb(222, 245, 12);
    padding: 5px 5px;
    margin-left: 30px;
    font-size: 16px;
}
.col5{
    float: right;
    padding: 10px;
    color: wheat;
}
.col5 > a{
    margin-right: 5px;
}
footer::after{
    content: " ";
    display: block;
    clear: both;
    *zoom: 1;
}
.col5:last-child{
    padding-right: 50px;
}
.col5 > h2{
    font-size: 12px;
}
